.contact {
  background-color: var(--black10);
}
.contact-title {
  background: linear-gradient(var(--black75), var(--black75)), url(/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--24px) 0;
  text-align: center;
}
.contact-title h1 {
  color: var(--grey);
  font-size: clamp(var(--h5), 3.5vw, var(--bigheader));
  font-weight: 500;
}
.contact-section {
  padding: var(--24px) 4%;
}
.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--24px);
}
.content-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-left h1,
.content-right h1,
.contact-map h1 {
  font-size: clamp(var(--h5), 3vw, var(--h1));
  color: var(--secondar-color);
}
.content-left-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-left-info .info-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.content-left-info .info-item .icon {
  color: var(--primary-color);
  font-size: var(--32px);
}
.content-left-info .info-item div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.content-left-info .info-item div h3 {
  color: var(--secondar-color);
}
.content-right form {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-top: var(--24px);
  border-radius: var(--8px);
  display: flex;
  flex-direction: column;
  gap: var(--8px);
}
.content-right form input,
.content-right form textarea {
  outline: none;
  border: 1px solid var(--grey);
  background-color: transparent;
  font-size: var(--p);
  color: var(--black75);
  padding: var(--8px);
  border-radius: var(--8px);
  resize: none;
}
.content-right form input:focus,
.content-right form textarea:focus {
  border: 1px solid var(--primary-color);
}
::placeholder {
  color: var(--black50);
}
.content-right form .input {
  width: 100%;
}
.content-right form .client-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--8px);
}
.content-right form .client-name input {
  flex: 1;
}
.content-right form .submit {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: var(--8px) 1rem;
  width: max-content;
  transition: var(--transition);
}
.content-right form .submit:hover {
  background-color: #f00476;
}
.contact-map {
  padding: 0 4%;
}
.contact-map h1 {
  margin-bottom: 1rem;
}
.contact-map .iframe {
  border-radius: var(--8px);
}
@media screen and (max-width: 800px) {
  .contact-content {
    grid-template-columns: 1fr;
    gap: var(--24px);
  }
}
@media screen and (max-width: 600px) {
  .content-right form .client-name {
    flex-direction: column;
  }
  .content-right form .client-name input {
    width: 100%;
  }
}
