.applynow-container {
  padding: var(--24px) 4%;
  display: flex;
  gap: var(--32px);
}
.applynow-header {
  background: linear-gradient(var(--black50), var(--black50)), url(/apply.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 200px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.applynow-header h3 {
  font-size: clamp(var(--h5), 3.5vw, var(--bigheader));
  font-weight: 600;
  color: #fff;
}
.applynow-header p {
  font-size: clamp(var(--small), 2vw, var(--h6));
  color: var(--grey);
}
.applynow-links {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
.applynow-links a {
  display: block;
  font-size: clamp(var(--p), 2vw, var(--h5));
  font-weight: 300;
  color: var(--secondar-color);
  position: relative;
  transition: var(--transition);
}
.applynow-links a:hover {
  color: var(--primary-color);
}
.applynow-links a:not(:last-child) {
  border-bottom: 1px solid var(--grey);
  margin-bottom: 4px;
  padding-bottom: 4px;
}
.applynow-links h3 {
  color: var(--secondar-color);
  font-size: clamp(var(--h6), 2.5vw, var(--h4));
  margin-bottom: 1rem;
}
.apply-form {
  flex: 65%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.apply-form .required {
  font-style: italic;
  color: var(--black75);
}
.input-fields .label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-fields input {
  border: 1px solid var(--grey);
  outline: none;
  border-radius: var(--8px);
  padding: var(--8px) 1rem;
  font-size: 1rem;
}
.input-fields > div {
  display: flex;
  flex-direction: column;
  gap: var(--24px);
}
.input-fields input:focus {
  border: 1px solid var(--primary-color);
}
.input-fields-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--24px);
}
.documents-con {
  display: flex;
  flex-direction: column;
  gap: var(--24px);
}
.documents-con > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.documents-con ul {
  margin-left: var(--24px);
  list-style-type: circle;
}
.apply-form .submit {
  margin-top: var(--8px);
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem var(--32px);
  width: max-content;
  transition: var(--transition);
  border-radius: var(--32px);
  font-size: 1rem;
}
.apply-form .submit:hover {
  background-color: #f00476;
}
@media screen and (max-width: 550px) {
  .input-fields-con {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .input-fields-con {
    grid-template-columns: 1fr 1fr;
  }
  .apply-form .submit {
    padding: var(--8px) 1rem;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .applynow-links {
    display: none;
  }
}
